<%- include("partial/header"); -%>

<div class="text-bg-primary p-3" style="margin-bottom: 2%; margin-top: 2%;">UK COLLEGES</div>
<div class="grid gap-3">
    <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
        <img src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/s3/field/field_image_main/GAF%20Radcliffe%20Square%20Dawn%20-%20Elizabeth%20Nyikos.jpg?itok=U-0F0aPx" class="card-img-top" alt="" style="width: 35rem;height: 15rem;">
        <div class="card-body">
          <h1>OXFORD UNIVERSITY</h1>
          <p class="card-text">As UK schools have largely closed and exams will no longer be taking place, the University of Oxford is awaiting further information from the government on how qualifications (i.e. A-Levels) will be awarded. More information for both domestic and international offer-holders will be made available as soon as possible.

            Graduate applications are still being processed by the university - an online form has been provided on the university website for any queries. If you need to take an English-language test, the university currently has a deadline of the UK summer. If test centers around the world do not reopen in time, the university will provide further guidance on how to proceed.</p>
        </div>
      </div>
      <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPrLfUDio_UwqfzITpLpGQfPJbOghyxh8mk8ceG=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
        <div class="card-body">
          <h1>UNIVERSITY OF CAMBRIDGE</h1>
          <p class="card-text">The University of Cambridge is a public collegiate research university in Cambridge, England. Founded in 1209, the University of Cambridge is the third-oldest university in continuous operation.

            The university's founding followed the arrival of scholars who left the University of Oxford for Cambridge after a dispute with local townspeople.[10][11] The two ancient English universities, although sometimes described as rivals, share many common features and are often jointly referred to as Oxbridge. In 1231, 22 years after its founding, the university was recognised with a royal charter granted by King Henry III.</p>
        </div>
      </div>
      <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMD5bW8fm0H9fMz_WUlllcTHT9A9u-ipDPXsu9K=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
        <div class="card-body">
          <h1>UNIVERSITY OF LONDON</h1>
          <p class="card-text">The University of London (UoL; abbreviated as Lond or more rarely Londin in post-nominals) is a federal[a] public research university located in London, England, United Kingdom. The university was established by royal charter in 1836 as a degree-awarding examination board for students holding certificates from University College London and King's College London and "other such other Institutions, corporate or unincorporated, as shall be established for the purpose of Education, whether within the Metropolis or elsewhere within our United Kingdom".[9] This fact allows it to be one of three institutions to claim the title of the third-oldest university in England,[b][10][11] and moved to a federal structure in 1900.[12] It is now incorporated by its fourth (1863) royal charter and governed by the University of London Act 2018.[13]</p>
        </div>
      </div>
      <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPqwdNZzy57umLb7Q-gHrjlLaujTj5dxhIeXN-2=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
        <div class="card-body">
          <h1>UNIVERSITY OF BRISTOL</h1>
          <p class="card-text">The University of Bristol is a red brick Russell Group research university in Bristol, England.[8] It received its royal charter in 1909,[9] although it can trace its roots to a Merchant Venturers' school founded in 1595 and University College, Bristol, which had been in existence since 1876.[10]

            Bristol is organised into six academic faculties composed of multiple schools and departments running over 200 undergraduate courses, largely in the Tyndalls Park area of the city.[11] The university had a total income of £833.1 million in 2021–22, of which £186.4 million was from research grants and contracts.[2] It is the largest independent employer in Bristol.[12] Current academics include 21 fellows of the Academy of Medical Sciences, 13 fellows of the British Academy, 13 fellows of the Royal Academy of Engineering and 44 fellows of the Royal Society.[13] Among alumni and past faculty, the university counts 9 Nobel laureates.</p>
        </div>
      </div>
  </div>

  <div class="text-bg-success p-3" style="margin-bottom: 2%; margin-top: 2%;"> DUBAI COLLEGES</div>
  <div class="grid gap-3">
      <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
          <img src="https://lh3.googleusercontent.com/p/AF1QipPkn-SytNs8-gtMZkwg7mSY9m30-6Jd6Xv8vzDv=s1360-w1360-h1020" class="card-img-top" alt="" style="width: 35rem;height: 15rem;">
          <div class="card-body">
            <h1>AMERICAN UNIVERSITY IN DUBAI</h1>
            <p class="card-text">The American University in Dubai (AUD) (Arabic: الجامعة الأمريكية في دبي) is a private, non-sectarian institution of higher learning in Dubai, United Arab Emirates, founded in 1995. AUD is accredited regionally as a separate unit by the Southern Association of Colleges and Schools. AUD serves UAE nationals and international students from all over the world and offers them an American-style education.

              AUD is accredited regionally by the UAE Ministry of Education and by the Southern Association of Colleges and Schools in the United States. Ranked 3rd as the world's most diverse university.</p>
          </div>
        </div>
        <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
          <img src="https://lh3.googleusercontent.com/p/AF1QipO5Sw8iP3CsLOrE2RBrsIayHeZNSt4SH6n5wi3E=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
          <div class="card-body">
            <h1>HERIOT-WATT UNIVERSITY</h1>
            <p class="card-text">One of the first higher education providers to be licensed by the Knowledge and Human Development Authority in Dubai (KHDA), Heriot-Watt's degrees are also accredited by royal charter in the UK. While the campus initially offered business, management, engineering and information technology programmes, it now offers more than 50 undergraduate and postgraduate (Master's degree and PhD) programmes across the following schools</p>
          </div>
        </div>
    </div>
  
    <div class="text-bg-danger p-3" style="margin-bottom: 2%; margin-top: 2%;">CANADA COLLEGES</div>
    <div class="grid gap-3">
        <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
            <img src="https://lh3.googleusercontent.com/p/AF1QipO_zdzkuu9eD1RhOdgmVMRwaynsvxys8BSvuhyc=s1360-w1360-h1020" class="card-img-top" alt="" style="width: 35rem;height: 15rem;">
            <div class="card-body">
              <h1>UNIVERSITY OF TORONTO</h1>
              <p class="card-text">The University of Toronto (UToronto or U of T) is a public research university in Toronto, Ontario, Canada, located on the grounds that surround Queen's Park. It was founded by royal charter in 1827 as King's College, the first institution of higher learning in Upper Canada. Originally controlled by the Church of England, the university assumed its present name in 1850 upon becoming a secular institution. As a collegiate university, it comprises 11 colleges each with substantial autonomy on financial and institutional affairs and significant differences in character and history. </p>
            </div>
          </div>
          <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOvW8nVd0fAO4UUFCVpJcpo4g9YPlUeawq-7_kV=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
            <div class="card-body">
              <h1>UNIVERSITY OF BRITISH COLUMBIA</h1>
              <p class="card-text">The University of British Columbia (UBC) is a public research university with campuses near Vancouver and in Kelowna, British Columbia. Established in 1908, it is British Columbia's oldest university. The university ranks among the top three universities in Canada.[8][9][10][11] With an annual research budget of $759 million, UBC funds over 8,000 projects a year.</p>
            </div>
          </div>
          <div class="card p-2 g-col-6" style="width: 38rem;height: 38rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Royal_Holloway%2C_University_of_London_%286%29.jpg" class="card-img-top" alt="..." style="width: 35rem;height: 15rem;">
            <div class="card-body">
              <h1>UNIVERSITY OF ALBERTA</h1>
              <p class="card-text">The University of Alberta (also known as U of A or UAlberta) is a public research university located in Edmonton, Alberta, Canada. It was founded in 1908 by Alexander Cameron Rutherford,[7] the first premier of Alberta, and Henry Marshall Tory,[8] the university's first president. It was enabled through the Post-secondary Learning Act.[9] The university is considered a "comprehensive academic and research university" (CARU), which means that it offers a range of academic and professional programs that generally lead to undergraduate and graduate level credentials.[10] It is ranked among the top public universities in Canada by major college and university rankings.</p>
            </div>
          </div>
          
      </div>

    


<%- include("partial/footer"); -%>