<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>STUDY AT UK</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/style.css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  
    
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-3 mb-2 bg-dark-subtle text-emphasis-dark">
      <div style="margin-right: 60%;"><img src="https://www.studyoverseashelp.com/images/logo.png" alt="" width="110" height="110"></div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/colleges">STUDY ABROAD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employment">EMPLOYMENT</a>
        </li>
      </ul>

    
      
    </div>
  </nav>




<!--   
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">STUDY AT UK</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          6 -->
          <!-- <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/benefits">BENEFITS</a></li>
          <li id="contact"><a href="/colleges">COLLEGES</a></li>
        </ul>
    </div>
  </nav> -->

  <body class="p-3 m-0 border-0 bd-example">
    <div class="container">